h1 {
  font-family: "Rubik", sans-serif !important;
  font-weight: 1000 !important; }
  @media (max-width: 744px) {
    h1 {
      font-size: 3rem !important; } }

.jumbotext {
  font-size: 1.5rem; }
  @media (max-width: 744px) {
    .jumbotext {
      font-size: 1.25rem !important; } }

.navbarcolor {
  background-color: #000000; }

.cahoon {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-top: 30rem; }

.btn-primary {
  color: #fff;
  background-color: #6386c9;
  border-color: #6386c9; }

.btn-primary:hover {
  color: black !important;
  background-color: #b8d4ff;
  border-color: #b8d4ff; }

.bg-light {
  background-color: #b8d4ff !important; }

.bg-primary {
  background-color: #6386c9 !important; }

.card-text {
  font-size: 1rem !important; }
  @media (max-width: 744px) {
    .card-text {
      font-size: 0.75rem !important; } }

@media (max-width: 744px) {
  .card-title {
    font-size: 1rem !important; } }

.highlightcard {
  width: 15rem;
  height: 15rem;
  border-width: 0.75rem;
  border-color: black; }

.jumbotron {
  margin-bottom: 0rem !important;
  background-color: #e9e9e9 !important; }

.highlightsimg {
  max-height: 8rem;
  max-width: 8rem;
  margin-left: 1.25erem; }

.bold {
  font-weight: bolder; }

.faq {
  font-size: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (max-width: 744px) {
    .faq {
      font-size: 2rem;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important; } }

.card-link {
  color: white;
  font-weight: bold; }

.card-link:hover {
  color: grey; }

.bg-black {
  background-color: black; }

.bg-grey {
  background-color: #e9e9e9; }

.register-btn {
  z-index: 50;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  left: 50%;
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, 200px);
  animation: x 1s ease forwards; }

.test {
  background: #000000;
  z-index: 50;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  left: 0; }

.aligner {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.focusestitle {
  color: #6386c9;
  font-weight: 1000; }

.focusescard {
  border: none !important; }

.boldest {
  font-weight: 1000 !important; }

.info {
  font-size: 1.25rem !important; }
  @media (max-width: 744px) {
    .info {
      font-size: 1rem !important; } }

.roundeder {
  border-radius: 1.25rem; }
