h1 {
  font-family: "Rubik", sans-serif !important;
  font-weight: 900 !important; }
  @media (max-width: 744px) {
    h1 {
      font-size: 3rem !important; } }

p {
  font-size: 1.5rem; }
  @media (max-width: 744px) {
    p {
      font-size: 1.25rem !important; } }

.navbarcolor {
  background-color: #000000; }

.cahoon {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-top: 30rem; }

.btn-primary {
  color: #fff;
  background-color: #0030b4;
  border-color: #0030b4; }

.btn-primary:hover {
  color: #fff;
  background-color: #b8d4ff;
  border-color: #b8d4ff; }

.bg-light {
  background-color: #b8d4ff !important; }

.bg-primary {
  background-color: #738fc2 !important; }

.card-text {
  font-size: 1rem !important; }
  @media (max-width: 744px) {
    .card-text {
      font-size: .75rem !important; } }

@media (max-width: 744px) {
  .card-title {
    font-size: 1rem !important; } }

.detailcard {
  width: 15rem;
  height: 15rem;
  border-width: .75rem;
  border-color: black; }

.jumbotron {
  margin-bottom: 0rem !important;
  background-color: #e9e9e9 !important; }

.detailimg {
  max-height: 8rem;
  max-width: 8rem;
  margin-left: 1.25erem; }

.navbold {
  font-weight: bolder;
  color: #b8d4ff !important; }

.faq {
  font-size: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (max-width: 744px) {
    .faq {
      font-size: 2rem;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important; } }

.card-link {
  color: white;
  font-weight: bold; }

.card-link:hover {
  color: grey; }

.bg-black {
  background-color: black; }

.bg-grey {
  background-color: #c4c4c4; }
