h1 {
  font-family: "Rubik", sans-serif !important;
  font-weight: 900 !important;
  @media (max-width: 600px) {
    font-size: 3.5rem !important;
  }
}
p {
  font-size: 1.5rem;
}
.anchor {
}
.navbarcolor {
  background-color: #000000;
}
.cahoon {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-top: 30rem;
}
.btn-primary {
  color: #fff;
  background-color: #0030b4;
  border-color: #0030b4;
}
.btn-primary:hover {
  color: #fff;
  background-color: #b8d4ff;
  border-color: #b8d4ff;
}
.bg-light {
  background-color: #b8d4ff !important;
}
.bg-primary {
    background-color: rgb(115, 143, 194) !important;
}
.card-text {
    font-size: 1rem !important;
  @media (max-width: 600px) {
    font-size: .75rem !important;
  }
}
.card-title {
    @media (max-width: 600px) {
        font-size: 1rem !important;
      }
}
.detailcard {
    width: 15rem;
    height: 15rem;
    border-width: .75rem;
    border-color: black;
}
.jumbotron {
    margin-bottom: 0rem !important;
    background-color: rgb(233, 233, 233) !important;
}
.detailimg {
    max-height: 8rem;
    max-width: 8rem;
    margin-left: 1.25erem;
}
.navbold{
  font-weight: bolder;
  color:  #b8d4ff !important
}